
@media (max-width:767px){
    .main-section .main-heading {
        font-size: 21px;
        margin-bottom: 15px;
    }
    .wrapper {
        padding: 15px;
    }
    .output-blob{
        height: 230px;
        min-height: 230px;
        padding: 10px 0;
    }
    .main-section {
        padding-bottom: 35px;
        padding-top: 80px;
    }
    .copyright-section p {
        font-size: 15px;
    }
    .gradient-box {
        width: 100%;
        height: 120px;
        margin: 15px auto;
    }
    .color-outfit h2 {
        font-size: 16px;
    }
    .gradient-result-box {
        height: 70px;
        font-size: 15px;
    }
    .text-shadow-btn {
        font-size: 13px !important;
    }
    .text-shadow-section .custom-text-input {
        margin-block: 20px;
    }
    .box-shadow-section .controls label {
        font-size: 15px;
    }
    .box-shadow-section .box-shadow-box-main {
        height: 200px;
    }
    .box-shadow-section .box-shadow-box-main .box-shadow-box {
        height: 130px;
        width: 130px;
    }
    .box-shadow-section button {
        font-size: 14px;
    }
    .dimensions label {
        font-size: 15px;
    }
    .dimensions input {
        font-size: 14px;
    }
    .navbar .navbar-toggler {
        height: 32px;
    }
    .transform-section .transform-box {
        height: 160px;
    }
    .transform-section .transform-box .transform-box-inner {
        height: 120px;
        width: 120px;
    }
    .transform-section .controls label {
        font-size: 15px;
    }
    .transform-section .controls input {
        margin-top: 3px;
    }
    button {
        font-size: 14px !important;
    }
    .filter-section .controls input {
        margin-top: 3px;
    }
    .filter-section .controls label {
        font-size: 14px;
        padding-top: 3px;
    }
}