*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Montserrat", sans-serif !important;
}
:root {
  --theme1:#3bedb2;
  --bg-primary:#f1eff9;
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --title-color: 245, 245, 245;
  --content-color: 156, 157, 159;
  --theme-color: 59, 237, 178;
  --dark-title: 13, 18, 31;
  --Iconsax-Color: #6e7179;
  --secondary-color: 244, 137, 65;
  --warning-color: 255, 189, 48;
  --info-color: 220, 154, 254;
  --danger-color: 157, 145, 255;
}



body{
    /* background-color: #11131e; */
    overflow-x: hidden;
    position: relative;
    font-family: "Nunito Sans", sans-serif !important;
    /* background-color: #010120; */
    user-select: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* common compontents start */
.section-space {
  padding-block: 60px;
}
.section-space-m {
  margin-top: 60px;
}
.main-heading .heading {
  font-size: 28px;
  font-weight: 600;
  color: var(--theme1);
  margin-bottom: 25px;
}
::-webkit-scrollbar-track {
  background-color: rgba(black, 0);
}
::-webkit-scrollbar {
  width: 6px;
  height: 2px;
  background-color: rgba(black, 0);
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme1);
}
@media (max-width:767px){
  .section-space {
    padding-block: 45px;
  }
  .main-heading .heading {
    font-size: 18px;
    margin-bottom: 14px;
  }
}
/* common compontents end */


.generate-title {
  color: #000;
  font-weight: 700;
}
.main-section {
  padding-top: 100px;
  padding-bottom: 50px;
}
.main-section .main-heading {
  font-size: 28px;
  color: var(--theme1);
  margin-bottom: 20px;
  font-weight: 700;
  background: -webkit-linear-gradient(#3bedb2, #474747);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper{
    background-color: #ffffff;
    padding: 25px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
}
.output-blob{
    background-color: #eef3f8;
    width: 100%;
    min-height: 250px;
    padding: 20px 0;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: grid;
    place-items: center;
}
#blob{
    height: 300px;
    width: 300px;
    background: linear-gradient(
        #11131e,
        #11131e
    );
    box-shadow: 15px 20px 30px rgba(0,0,0,0.15);
}
.dimensions{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 40px 0;
}
label{
    font-weight: 500;
}
/* input[type="number"]{
  height: 40px;
  width: 80px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #a0a0b0;
  border-radius: 3px;
}
input[type="number"]:focus{
    background-color: #f1f5fa;
    border-color: #025eaa;
    color: #025eaa;
} */

.blog-size-input {
  height: 40px;
  width: 80px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #a0a0b0;
  border-radius: 3px;
}
.sliders{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.blob-input-main {
  height: 45px;
  background-color: #f1eff9;
}
.blob-input{
    font-size: 13px;
    border: none;
    border-radius: 3px;
}
button{
    width: 12%;
    margin-left: 4%;
    padding: 10px 0;
    background-color: #0075ff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
}

.glowing {
    position: absolute;
    min-width: 100%;
    height: 100vh;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
    z-index: 1;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }
  
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    /* background-color: #000; */
    background: url(../img/download-5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    animation:animateBg 5s linear infinite;
    
}
@keyframes animateBg {
  100% {
    filter:hue-rotate(360deg);
  }
}

canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


/* copyright section start */
.copyright-section {
  border-top: 1px solid #13a561;
  padding-block: 10px;
}
.copyright-section p {
  color: #fff;
  margin-bottom: 0;
}
/* copyright section end */





/* gradient page start  */
.color-inputs label {
  font-size: 1.1em;
}
input[type="color"] {
  border: none;
  height: 40px;
  width: 50px;
  cursor: pointer;
  border-radius: 5px;
}
.color-inputs label {
  font-size: 16px;
}
.color-outfit {
  margin-top: 20px;
}
.gradient-page .color-outfit-inner {
  background-color: #eef3f8;
  padding: 12px;
  border-radius: 10px ;
  margin-bottom: 15px;
}

.color-outfit h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  padding-top: 5px;
}
.gradient-box {
  width: 300px;
  height: 200px;
  margin: 20px auto;
  border-radius: 15px;
  border: 1px solid #ddd;
  transition: background 0.5s ease;
}
.gradient-result-box {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background 0.5s ease;
  font-size: 17px;
}
/* gradient page end */


/* text shadow page start  */
.text-shadow-section .text-container {
  margin-bottom: 20px;
  background-color: #eef3f8;
  padding: 15px;
  border-radius: 5px;
}
.text-shadow-section .text-container p {
  font-size: px;
  transition: text-shadow 0.3s ease;
  color: #000000;
  font-weight: 500;
  text-wrap: wrap;
  width: 100%;
}
.text-shadow-section .custom-text-input {
  font-size: 15px;
  height: 45px;
  margin-block: 30px;
}
.text-shadow-section .text-card-title {
  font-size: 18px;
  font-weight: 700;
}


/* box shadow section start */
.box-shadow-section .box-shadow-box-main{
  background-color: #eef3f8;
  height: 250px;
}
.box-shadow-section .box-shadow-box-main .box-shadow-box{
  height: 150px;
  width:150px;
}
.box-shadow-section .box-shadow-result p {
  font-size: 17px;
  font-weight: 700;
  
}
/* box shadow section end */


/* transform section start */
.transform-section .transform-box {
  height: 190px;
  background-color: var(--bg-primary);
}
.transform-section .transform-box .transform-box-inner {
  height: 140px;
  width: 140px;
  color: #fff;
}
/* transform section end */


/* filter section start  */
.filter-section .image-container {
  background-color: var(--bg-primary);
  padding-block: 20px;
}
.filter-section .image-container img {
  width: 90%;
  height: 90%;
}
/* filter section end  */



/* navbar start  */
/**=====================
   3.2 header scss
==========================**/
header {
  padding-block: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #20333d;
}

/**=====================
   3.3 nav scss
==========================**/
header .main-nav {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  header .main-nav {
    padding: 0;
  }
}
header .nav-left-align .navbar-nav .dropdown-menu-2 {
  left: 0;
  -webkit-transform: unset;
          transform: unset;
}
header .icon-box {
  display: inline-block;
  margin-right: 10px;
}
header .dropdown-header {
  display: block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: rgba(var(--theme-color), 1);
  white-space: nowrap;
}
@media (max-width: 1199px) {
  header .dropdown-header {
    padding-left: 0;
  }
}
header .navbar-nav {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
header .navbar-nav .nav-item {
  margin-bottom: 0;
  position: relative;
}
header .navbar-nav .nav-item:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 100%;
  position: absolute;
  left: -7px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1199px) {
  header .navbar-nav .nav-item:before {
    display: none;
  }
}
header .navbar-nav .nav-item.active::before, header .navbar-nav .nav-item:hover::before {
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}
header .navbar-nav .nav-item:hover {
  color: rgba(var(--theme-color), 1);
}
header .navbar-nav .nav-item.dropdown .nav-link {
  padding-right: 20px !important;
}

header .navbar-nav .dropdown-menu {
  min-width: 220px;
  margin: 0;
  margin-top: -8px;
  background-color: rgba(var(--white), 1);
  -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.7), 5px 20px 40px 0 rgba(var(--title-color), 0.4);
          box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.7), 5px 20px 40px 0 rgba(var(--title-color), 0.4);
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  position: static;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  display: flex !important;
    flex-direction: column;
    gap: 8px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu {
    position: relative;
    min-width: unset;
    margin-top: 0;
    background-color: transparent;
  }
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover {
  position: relative;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover > a {
  display: block;
  position: relative;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover > a .new-text i {
  font-size: 12px;
  margin-left: 4px;
  color: rgba(var(--theme-color), 1);
}

header .navbar-nav .dropdown-menu .sub-dropdown-hover > a::before {
  position: absolute;
  content: "\f105";
  font-weight: 900;
  font-family: remixicon !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

header .navbar-nav .dropdown-menu .sub-dropdown-hover:hover .sub-menu {
  left: 113%;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu .sub-dropdown-hover:hover .sub-menu {
    left: unset;
  }
}

header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu {
  position: absolute;
  top: -19px;
  left: 123%;
  min-width: 200px;
  -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
          box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
  background-color: rgba(var(--white), 1);
  border-color: transparent;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu {
    position: relative;
    top: unset;
    left: unset;
    opacity: 1;
    min-width: auto;
    z-index: 1;
    visibility: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 5px 0 12px 29px;
    padding: 0;
  }
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu li a {
  padding: 0;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  color: rgba(var(--title-color), 1);
  display: block;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu li a:hover::after {
  width: 40%;
}
header .navbar-nav .dropdown-menu .sub-dropdown-hover .sub-menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 2px;
  left: 0;
  background-color: rgba(var(--theme-color), 1);
  opacity: 0.3;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
header .navbar-nav .dropdown-menu-2 {
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-15px);
          transform: translateX(-50%) translateY(-15px);
  width: 52vw;
  min-width: unset;
  padding: 22px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
header .navbar-nav .dropdown-menu-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu-2::after {
    content: none;
  }
}
@media (max-width: 1400px) {
  header .navbar-nav .dropdown-menu-2 {
    background-position: 20px center;
  }
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-menu-2 {
    width: 100%;
    padding: 0 !important;
    left: 0;
    margin: 0;
  }
}
header .navbar-nav .dropdown-menu .dropdown {
  margin-right: 20px;
  margin-left: 20px;
}
header .navbar-nav .dropdown-menu .dropdown:last-child {
  margin-bottom: 12px;
}
header .navbar-nav .dropdown-menu .dropdown .dropdown-toggle::after {
  display: none;
}
header .navbar-nav .dropdown-menu .dropdown-menu {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
}
header .navbar-nav .dropdown-image {
  background-image: none;
}
header .navbar-nav .dropdown-image::after {
  content: none;
}
@media (max-width: 991px) {
  header .navbar-nav .dropdown-image {
    left: 0;
    margin-top: 0;
  }
}
header .navbar-nav .dropdown-image .dropdown-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-image .dropdown-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item {
  margin: 0 !important;
  text-align: center;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item::after {
  content: none;
}
@media (max-width: 1199px) {
  header .navbar-nav .dropdown-image .dropdown-column .dropdown-item {
    padding: 0;
  }
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item:hover img {
  -webkit-box-shadow: 5px 20px 40px 0 rgba(var(--title-color), 0.07);
          box-shadow: 5px 20px 40px 0 rgba(var(--title-color), 0.07);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item:hover span {
  color: rgba(var(--theme-color), 1);
  font-weight: 600;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item:hover span::after {
  width: 100%;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item img {
  width: 100%;
  -webkit-box-shadow: 5px 20px 40px 0 rgba(var(--title-color), 0.04);
          box-shadow: 5px 20px 40px 0 rgba(var(--title-color), 0.04);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item span {
  display: inline-block;
  margin-top: 14px;
  text-align: center;
  font-size: calc(14px + 2 * (100vw - 1200px) / 720);
  margin-bottom: -6px;
  position: relative;
  z-index: 0;
}
header .navbar-nav .dropdown-image .dropdown-column .dropdown-item span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 2px;
  left: 0;
  background-color: rgba(var(--theme-color), 1);
  opacity: 0.3;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
header .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 16px;
  font-size: calc(21px + 0.45vw);
  white-space: nowrap;
  display: inline-block;
  font-weight: 500;
}
header .navbar-brand:hover {
  text-decoration: none;
}
header .navbar-brand:focus {
  text-decoration: none;
}

header .navbar.navbar-expand-xl .navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  padding: 0;
}
header .navbar.navbar-expand-xl .navbar-nav .nav-link::after {
  content: none;
}
header .navbar.navbar-expand-xl .navbar-nav .nav-link .icli {
  margin-left: 10px;
}
header .navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .navbar-toggler {
  background-color: transparent;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  padding: 12px;
  font-size: 18px;
  margin-right: 10px;
  padding: 0;
}

@media (max-width: 767px) {
  header .navbar-toggler {
    margin-right: 0;
  }
}
header .navbar-toggler:focus-visible {
  outline: none;
}
header .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
header .navbar-toggler-icon {
  width: 30px;
  height: 30px;
  background-color: rgba(var(--theme-color), 1);
  border-radius: 5px;
  margin-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: rgba(var(--title-color), 1);
  -webkit-text-fill-color: rgba(var(--title-color), 1);
  -webkit-opacity: 1;
}
header .navbar-toggler-icon .iconsax svg [stroke] {
  stroke: rgba(var(--dark-title), 1);
}
header .navbar-nav-scroll {
  max-height: var(--bs-scroll-height, 75vh);
  overflow-y: auto;
}
header .navbar-expand {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header .navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  left: 26px;
  top: 30px;
  -webkit-box-shadow: 0px 3px 4px rgba(var(--black), 0.14);
          box-shadow: 0px 3px 4px rgba(var(--black), 0.14);
}
header .navbar-expand .navbar-nav-scroll {
  overflow: visible;
}
header .navbar-expand .navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
header .navbar-expand .navbar-toggler {
  display: none;
}
header .navbar-light .navbar-brand {
  color: rgba(var(--title-color), 1);
}
header .navbar-light .navbar-brand:hover {
  color: rgba(var(--title-color), 1);
}
header .navbar-light .navbar-brand:focus {
  color: rgba(var(--title-color), 1);
}
header .navbar-light .navbar-nav .nav-link {
  color: rgba(var(--white), 1);
}
header .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-nav .nav-link.active {
  color: rgba(var(--theme-color), 1);
}
header .navbar-light .navbar-toggler {
  color: rgba(var(--content-color), 1);
  border-color: transparent;
}
header .navbar {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  z-index: 1;
}

header .navbar:not(.navbar-stuck) .navbar-stuck-btn {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(var(--title-color), 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
header .navbar-shadow {
  -webkit-box-shadow: 0 2px 10px -3px rgba(var(--title-color), 0.1);
          box-shadow: 0 2px 10px -3px rgba(var(--title-color), 0.1);
}
header .navbar-floating {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .navbar-stuck .navbar-btn {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(var(--title-color), 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
header .navbar-stuck-logo {
  display: none;
}
header .navbar-sticky.navbar-stuck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation: navbar-show 0.25s;
          animation: navbar-show 0.25s;
  background-color: rgba(var(--white), 1);
  -webkit-box-shadow: 0 2px 10px -3px rgba(var(--title-color), 0.1);
          box-shadow: 0 2px 10px -3px rgba(var(--title-color), 0.1);
}
header .header-nav-middle {
  margin: auto !important;
}
header .offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: rgba(var(--white), 1);
  background-clip: padding-box;
  outline: 0;
  -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
          box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform, box-shadow;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s ease;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s ease;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s ease, -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s ease;
  visibility: visible !important;
}
header .offcanvas:not(.offcanvas-end):not(.offcanvas-bottom) {
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 1199px) {
  header {
    padding-block: 15px;
  }
  header .offcanvas:not(.offcanvas-end):not(.offcanvas-bottom) {
    width: calc(300px + 20 * (100vw - 1200px) / 720);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 7;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #141d2b;
  }
}
header .offcanvas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 24px;
  z-index: 1;
}
header .offcanvas-header .btn-close {
  padding: 0;
  margin: -10px 0;
  font-size: 16px;
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0.5;
}
header .offcanvas-header h5 {
  color: rgba(var(--content-color), 1);
  font-weight: 600;
  font-size: 18px;
}
header .offcanvas-title {
  margin-bottom: 0;
  line-height: initial;
}
header .offcanvas-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  overflow-y: auto;
  height: 100%;
}
header .offcanvas-body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  opacity: 0;
}
header .offcanvas-body::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
header .offcanvas-body > .simplebar-track {
  display: block;
  background-color: transparent;
}
header .offcanvas-body .simplebar-vertical {
  margin-right: 3px;
}
header .offcanvas-start {
  top: 0;
  left: 0;
  width: 352px;
  border-right: 0 solid transparent;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
header .offcanvas-end {
  top: 0;
  right: 0;
  width: 352px;
  border-left: 0 solid transparent;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
header .offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-bottom: 0 solid transparent;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
header .offcanvas-bottom {
  right: 0;
  left: 0;
  height: 30vh;
  max-height: 100%;
  border-top: 0 solid transparent;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
header .offcanvas.show {
  -webkit-transform: none !important;
          transform: none !important;
  -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04) !important;
          box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04) !important;
}
header .offcanvas-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 24px;
}
header .sidebar-toggle {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  z-index: 1025;
}
header .hot-deal-box {
  color: #e21719;
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
header .hot-deal-box img {
  margin-right: 7px;
}
header .hot-deal-box span {
  font-size: 16px;
  font-weight: 500;
}
header .navbar-expand-xl .navbar-nav {
  gap:30px;
}
header .dropdown .nav-link::before{
  content: '';
  position: absolute;
  right: 0;
  height: 10px;
  width: 10px;
  top: 50%;
  transform: translateY(-50%);
  background:url(../img/down.svg) no-repeat;
  background-position: center;
  background-size: contain;
  filter: brightness(1000);
}
header .dropdown .nav-link:hover::before {
  filter: unset;

}
@media (prefers-reduced-motion: reduce) {
  header .navbar-toggler {
    -webkit-transition: none;
    transition: none;
  }
  header .offcanvas {
    -webkit-transition: none;
    transition: none;
  }
}
@media (min-width: 1200px) {
  header .navbar-expand-xl.navbar .offcanvas-body {
    overflow: visible;
  }
  header .navbar-expand-xl.navbar-sticky.navbar-stuck .navbar-floating-logo {
    display: none !important;
  }
  header .navbar-expand-xl .navbar-stuck-logo {
    display: block;
  }
  header .navbar-expand-xl .navbar-nav {
    position: relative;
    padding-top: 0;
  }
  header .navbar-expand-xl .navbar-nav .nav-item {
    border: 0;
    padding-block: 12px;
  }

  header .navbar-expand-xl .navbar-nav .nav-item:hover > .nav-link:not(.disabled) {
    color: rgba(var(--theme-color), 1);
  }
  header .navbar-expand-xl .navbar-nav .nav-item.active > .nav-link:not(.disabled) {
    color: rgba(var(--theme-color), 1);
  }
  header .navbar-expand-xl .navbar-nav > .dropdown > .dropdown-toggle::after {
    display: none;
  }
  header .navbar-expand-xl .dropdown-menu {
    margin-top: 0;
    -webkit-box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
            box-shadow: -1px 0 10px 0 rgba(var(--title-color), 0.07), 5px 20px 40px 0 rgba(var(--title-color), 0.04);
    background-color: #0b1828;
    border: 1px solid rgba(var(--theme-color), 0.1);
    padding: 15px;
    border-radius: 0;
    
  }
  header .navbar-expand-xl .dropdown-menu-left {
    left: 0;
    -webkit-transform: translateX(0%) translateY(-15px);
            transform: translateX(0%) translateY(-15px);
  }
  header .navbar-expand-xl .dropdown-menu li {
    display: block;
    width: 100%;
  }
  header .navbar-expand-xl .dropdown-menu li.active a {
    color: rgba(var(--theme-color), 1);
  }
  header .navbar-expand-xl .dropdown-menu li:first-child .dropdown-item {
    margin: 0;
    margin-top: -3px;
  }
  header .navbar-expand-xl .dropdown-menu li:last-child .dropdown-item {
    margin-bottom: -4px;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-column {
    margin: 5px;
    position: relative;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-column:first-of-type {
    margin-left: 0;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item {
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 15px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    color: rgba(var(--title-color), 0.8);
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item:hover::after {
    width: 40%;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item:active {
    color: rgba(var(--dark-title), 1);
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 2px;
    left: 0;
    background-color: rgba(var(--theme-color), 1);
    opacity: 0.3;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item:focus {
    background-color: transparent;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    letter-spacing: 0.03em;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-left: 0;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown .dropdown-toggle {
    position: relative;
    padding-right: 26px;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown .dropdown-toggle::after {
    position: absolute;
    content: "\f105";
    font-weight: 900;
    font-family: remixicon !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: unset;
    height: unset;
    display: block;
    right: 10px;
    border: none;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown:last-child {
    margin-bottom: 0;
  }
  header .navbar-expand-xl .dropdown-menu .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    width: auto;
    margin-top: 0;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 5px;
    background-color: rgba(var(--white), 1);
  }
  header .navbar-expand-xl .dropdown-menu.show {
    display: none;
  }
  header .navbar-expand-xl .dropdown-menu.dropdown-menu-end {
    right: 0;
    left: auto;
  }
  header .navbar-expand-xl .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  header .navbar-expand-xl .dropdown:hover .dropdown-menu-2 {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
    display: block !important;
  }
  header .navbar-expand-xl .dropdown:hover .dropdown-menu-center {
    -webkit-transform: translateX(0%) translateY(0);
            transform: translateX(0%) translateY(0);
  }
  header .navbar-expand-xl .dropdown:hover .dropdown-menu-left {
    -webkit-transform: translateX(0%) translateY(0);
            transform: translateX(0%) translateY(0);
  }
  header .navbar-expand-xl .dropdown-mega {
    position: relative;
  }
  header .navbar-expand-xl .dropdown-mega > .dropdown-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .navbar-expand-xl .dropdown-mega:hover > .dropdown-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar-expand-xl .dropdown-mega .dropdown-menu .dropdown-item {
    padding: 0;
    margin: 10px 0px 0 0;
  }
  header .navbar-expand-xl .dropdown-mega .dropdown-column.dropdown-column-img {
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }
  header .navbar-expand-xl .dropdown-mega .dropdown-column {
    margin-top: 5px;
  }
  header .navbar-expand-xl .dropdown-mega .dropdown-column .dropdown-header {
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
  }
  header .offcanvas-expand {
    -webkit-transform: none !important;
            transform: none !important;
    z-index: 1031;
  }
  header .offcanvas-expand.offcanvas-start {
    -webkit-transform: none !important;
            transform: none !important;
  }
  header .offcanvas-expand.offcanvas-end {
    -webkit-transform: none !important;
            transform: none !important;
  }
  header .offcanvas-expand.offcanvas-bottom {
    -webkit-transform: none !important;
            transform: none !important;
  }
  header .offcanvas-collapse {
    display: block;
    position: static;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
    -webkit-transform: none !important;
            transform: none !important;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .offcanvas-collapse .offcanvas-header {
    display: none;
  }
  header .offcanvas-collapse .offcanvas-footer {
    display: none;
  }
  header .offcanvas-collapse .offcanvas-body {
    padding: 0;
    overflow: initial;
  }
  header .offcanvas-enabled-start {
    padding-left: 376px;
  }
  header .offcanvas-enabled-end {
    padding-right: 376px;
    padding-left: 0;
  }
}
header .navbar-expand-xl .offcanvas {
  -webkit-box-flex: 1;
}
@media (max-width: 1199px) {
  header .navbar-expand-xl .offcanvas {
    z-index: 4;
    -webkit-box-flex: 2;
  }
}
header .offcanvas-backdrop {
  z-index: 6;
}
@media (max-width: 1199px) {
  header .offcanvas-collapse .offcanvas-body .navbar-nav {
    padding-top: 0;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-item {
    border-top: 0;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: rgba(var(--content-color), 1);
    font-weight: 700;
    padding-left: 10px;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-link:hover {
    color: rgba(var(--theme-color), 1);
    background-color: transparent;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-link.active {
    color: rgba(var(--theme-color), 1);
    background-color: transparent;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .nav-link.disabled {
    color: rgba(var(--content-color), 1);
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .show > .nav-link {
    color: rgba(var(--theme-color), 1);
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .active > .nav-link {
    color: rgba(var(--theme-color), 1);
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu li {
    display: block;
    width: 100%;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item {
    color: rgba(var(--content-color), 1);
    font-size: 16px;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: rgba(var(--theme-color), 1);
    background-color: transparent;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item.active {
    color: rgba(var(--theme-color), 1);
    background-color: transparent;
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item.disabled {
    color: rgba(var(--content-color), 1);
  }
  header .offcanvas-collapse .offcanvas-body .navbar-nav .dropdown-header {
    font-size: 16px;
    font-weight: 600;
  }
  header .navbar-nav .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: none !important;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  header .navbar-nav .dropdown-menu.show {
    display: block !important;
  }
}

/* navbar end  */


/* hero section start  */
.home-section {
  text-align: center;
  position: relative;
  background-image: url(../img/home-bg.png);
  background-size: cover;
  z-index: 1;
  padding-top: 100px;
  height: 100vh;
}
@media (max-width: 991px) {
  .home-section {
    overflow: hidden;
  }
}
.home-section .bg-effect .bg-gif {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
  z-index: -1;
  top: 0;
  opacity: 0.04;
  mix-blend-mode: lighten;
}
.home-section .bg-effect .effect1 {
  position: absolute;
  left: 7%;
  top: 24%;
}
@media (max-width: 1199px) {
  .home-section .bg-effect .effect1 {
    left: 1%;
  }
}
@media (max-width: 767px) {
  .home-section .bg-effect .effect1 {
    left: -10px;
  }
}
@media (max-width: 650px) {
  .home-section .bg-effect .effect1 {
    display: none;
  }
}
.home-section .bg-effect .effect2 {
  position: absolute;
  right: 8%;
  bottom: 28%;
}
@media (max-width: 1199px) {
  .home-section .bg-effect .effect2 {
    right: 5%;
  }
}
@media (max-width: 767px) {
  .home-section .bg-effect .effect2 {
    display: none;
  }
}
.home-section .home-content h1 {
  color: rgba(var(--title-color), 1);
}
.home-section .home-content p {
  color: rgb(156, 157, 159);
  line-height: 31px;
}
@media (max-width: 991px) {
  .home-section .home-content h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .home-section .home-content h1 {
    font-size: 21px;
    line-height: 32px;
  }
}
.home-section .home-content h1 .title-effect {
  padding: 3px 20px;
  background-color: #17273f;
  display: inline-block;
  position: relative;
  margin: 0 15px;
}
@media (max-width: 767px) {
  .home-section {
    height: auto;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .home-section .home-content h1 .title-effect {
    padding: 1px 10px;
  }
}
@media (max-width: 576px) {
  .home-section .home-content h1 .title-effect {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}
.home-section .home-content h1 .title-effect img {
  position: absolute;
  left: -18px;
  top: -18px;
  height: calc(100% + 36px);
  width: calc(100% + 36px);
}
@media (max-width: 576px) {
  .home-section .home-content h1 .title-effect img {
    display: none;
  }
}
.home-section .home-content h1 .title-effect span {
  background: url("../img/title-bg.jpg");
  background-position: bottom;
  -webkit-background-clip: text;
  color: transparent;
}
.home-section .home-content p {
  width: 70%;
  margin: 0 auto;
  margin: 32px auto;
}
@media (max-width: 1199px) {
  .home-section .home-content p {
    width: 80%;
    margin: calc(16px + 16 * (100vw - 320px) / 1600) auto calc(10px + 10 * (100vw - 320px) / 1600);
  }
}
@media (max-width: 991px) {
  .home-section .home-content p {
    width: 100%;
    font-size: 14px;
    line-height: 28px;
  }
}
.home-section .home-content .start-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(var(--theme-color), 1);
  font-size: calc(18px + 4 * (100vw - 320px) / 1600);
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.home-section .home-content .start-link:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home-section .home-content .start-link svg {
  stroke: rgba(var(--theme-color), 1);
}

/* hero section end  */


/* services section start  */
.feature-section {
  position: relative;
  z-index: 1;
}
.feature-section .feature-box {
  padding: 34px;
  border-radius: 6px;
  position: relative;
  height: 100%;
}
@media (max-width: 1400px) {
  .feature-section .feature-box {
    padding: calc(20px + 4 * (100vw - 320px) / 1600);
  }
}
.feature-section .feature-box:after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(199.52deg, #3bedb21c 7.05%, rgba(10, 14, 23, 0) 134.77%);
  border-radius: 4px;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.feature-section .feature-box .feature-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.feature-section .feature-box .feature-top h3 {
  margin-bottom: 0;
  color: rgba(var(--white), 1);
  position: relative;
  padding-left: 30px;
  font-size: calc(18px + 2 * (100vw - 320px) / 1600);
}

.feature-section .feature-box .feature-top h3:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: rgba(var(--theme-color), 1);
  left: 15px;
}
[dir=rtl] .feature-section .feature-box .feature-top h3:after {
  left: unset;
  right: 15px;
}
.feature-section .feature-box .feature-top .feature-icon {
  width: calc(30px + 10 * (100vw - 320px) / 1600);
  height: calc(30px + 10 * (100vw - 320px) / 1600);
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.feature-section .feature-box .feature-top .feature-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.feature-section .feature-box p {
  color: rgba(var(--content-color), 1);
  margin-bottom: 12px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 28px;
}
.feature-section .feature-box .link-overflow {
  width: 100%;
  overflow: hidden;
}
.feature-section .feature-box a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateX(-112px);
          transform: translateX(-112px);
  transition: all 0.5s ease;
  color: var(--theme1);
}
@media (max-width: 991px) {
  .feature-section .feature-box a {
    -webkit-transform: none;
            transform: none;
  }
}

.feature-section .feature-box a i {
  fill: rgba(var(--theme-color), 1);
  margin-left: 34px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 991px) {
  .feature-section .feature-box a i {
    margin-left: 15px;
  }
}
.feature-section .feature-box:hover:after {
  background: linear-gradient(314deg, rgba(var(--theme-color), 0.22) 7.05%, rgba(10, 14, 23, 0) 134.77%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.feature-section .feature-box:hover a {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.feature-section .feature-box:hover a i {
  margin-left: 15px;
}
/* services section end */


/* content section start */
.content-section .content-card {
  background:#fff;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;

}
.content-card h2{
  font-size: 19px;
  color: #000;
  font-weight: 600;
}
.content-card p {
  font-size: 15px;
  line-height: 27px;
  color: #000;
  margin-bottom: 12px;
}
@media (max-width:767px){
  .content-section .content-card {
    padding: 15px;
  }
  .content-card p {
    font-size: 14px;
  }
  .content-card h2 {
    font-size: 17px;
  }
}
/* content section end */


/* footer start */
.footer {
  padding-block: 15px;
  position: relative;
  z-index: 1;
  border-top: 1px solid var(--theme1);
}
.footer p {
  color:#fff;
}
/* footer end */


/* background remove start */
.bg-remove-section .image-preview {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: none; /* Initially hidden */
  border: 2px dashed #ccc; /* Dashed border */
  background: transparent; /* Transparent background */
  padding: 10px; /* Add padding */
}

.bg-remove-section .image-preview img {
  width: 100%;
  height: auto;
  display: block; /* Ensure it is a block element */
}

.bg-remove-section .loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute; /* Position loader over image */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center it exactly */
  display: none; /* Hidden initially */
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.bg-remove-section .transparent-bg {
    background: repeating-linear-gradient(
        45deg,
        #ccc 0,
        #ccc 25%,
        #fff 25%,
        #fff 50%
    );
    background-size: 10px 10px;
}
.bg-remove-section .bg-remove-card {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.bg-remove-section .input-label {
  background-color: var(--theme1);
  color: #000;
  padding: 8px 20px;
  border: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  gap: 4px;
}
.bg-remove-section .download-btn {
  display: none;
  border-radius: 30px;
  color: #333;
  gap: 8px;
  background-color: var(--theme1);
  text-decoration: none;
  padding: 12px 20px;
}
.bg-remove-section .upload-title {
  font-weight: 500;
  font-size: 15px;
  margin-top: 6px;
}
.bg-remove-section .remove-btn {
  height: 30px;
  width: 30px;
  top: -15px;
  right: -15px;
  color: #fff;
  background-color: red;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
}
/* background remove end */