*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Nunito Sans", sans-serif !important;
}
:root {
  --theme1:#13a561;
  --bg-primary:#f1eff9;
}

body{
    /* background-color: #11131e; */
    overflow-x: hidden;
    position: relative;
    font-family: "Nunito Sans", sans-serif !important;
    /* background-color: #010120; */
    user-select: none;
}
.generate-title {
  color: #000;
  font-weight: 700;
}
.main-section {
  padding-block: 50px;
}
.main-section .main-heading {
  font-size: 28px;
  color: var(--theme1);
  margin-bottom: 20px;
  font-weight: 700;
  background: -webkit-linear-gradient(#f12828, #bb920a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper{
    background-color: #ffffff;
    padding: 25px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
}
.output-blob{
    background-color: #eef3f8;
    width: 100%;
    min-height: 250px;
    padding: 20px 0;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: grid;
    place-items: center;
}
#blob{
    height: 300px;
    width: 300px;
    background: linear-gradient(
        #11131e,
        #11131e
    );
    box-shadow: 15px 20px 30px rgba(0,0,0,0.15);
}
.dimensions{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 40px 0;
}
label{
    font-weight: 500;
}
/* input[type="number"]{
  height: 40px;
  width: 80px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #a0a0b0;
  border-radius: 3px;
}
input[type="number"]:focus{
    background-color: #f1f5fa;
    border-color: #025eaa;
    color: #025eaa;
} */

.blog-size-input {
  height: 40px;
  width: 80px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #a0a0b0;
  border-radius: 3px;
}
.sliders{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.blob-input-main {
  height: 45px;
  background-color: #f1eff9;
}
.blob-input{
    font-size: 13px;
    border: none;
    border-radius: 3px;
}
button{
    width: 12%;
    margin-left: 4%;
    padding: 10px 0;
    background-color: #0075ff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
}

.glowing {
    position: absolute;
    min-width: 100%;
    height: 100vh;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
    z-index: 1;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }
  
#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    /* background-color: #000; */
    background: url(../img/download-5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    animation:animateBg 5s linear infinite;
    
}
@keyframes animateBg {
  100% {
    filter:hue-rotate(360deg);
  }
}

canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


/* copyright section start */
.copyright-section {
  border-top: 1px solid #13a561;
  padding-block: 10px;
}
.copyright-section p {
  color: #fff;
  margin-bottom: 0;
}
/* copyright section end */


/* navbar css start */
.navbar  {
  border-bottom: 1px solid #383838;
}
.navbar .navbar-brand {
  height: 50px;
}
.navbar .nav-link {
  color: #fff;
  font-size: 16px !important;
  font-weight: 600;
}
.navbar .nav-link:hover {
  color: var(--theme1);
}
.navbar .navbar-nav {
  gap: 20px;
}
.navbar .navbar-toggler {
  height: 38px;
}
.navbar .navbar-toggler img {
  filter:invert(1);
}
/* navbar css end */


/* gradient page start  */
.color-inputs label {
  font-size: 1.1em;
}
input[type="color"] {
  border: none;
  height: 40px;
  width: 50px;
  cursor: pointer;
  border-radius: 5px;
}
.color-inputs label {
  font-size: 16px;
}
.color-outfit {
  margin-top: 20px;
}
.gradient-page .color-outfit-inner {
  background-color: #eef3f8;
  padding: 12px;
  border-radius: 10px ;
  margin-bottom: 15px;
}

.color-outfit h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  padding-top: 5px;
}
.gradient-box {
  width: 300px;
  height: 200px;
  margin: 20px auto;
  border-radius: 15px;
  border: 1px solid #ddd;
  transition: background 0.5s ease;
}
.gradient-result-box {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background 0.5s ease;
  font-size: 17px;
}
/* gradient page end */


/* text shadow page start  */
.text-shadow-section .text-container {
  margin-bottom: 20px;
  background-color: #eef3f8;
  padding: 15px;
  border-radius: 5px;
}
.text-shadow-section .text-container p {
  font-size: px;
  transition: text-shadow 0.3s ease;
  color: #000000;
  font-weight: 500;
  text-wrap: wrap;
  width: 100%;
}
.text-shadow-section .custom-text-input {
  font-size: 15px;
  height: 45px;
  margin-block: 30px;
}
.text-shadow-section .text-card-title {
  font-size: 18px;
  font-weight: 700;
}


/* box shadow section start */
.box-shadow-section .box-shadow-box-main{
  background-color: #eef3f8;
  height: 250px;
}
.box-shadow-section .box-shadow-box-main .box-shadow-box{
  height: 150px;
  width:150px;
}
.box-shadow-section .box-shadow-result p {
  font-size: 17px;
  font-weight: 700;
  
}
/* box shadow section end */


/* transform section start */
.transform-section .transform-box {
  height: 190px;
  background-color: var(--bg-primary);
}
.transform-section .transform-box .transform-box-inner {
  height: 140px;
  width: 140px;
  color: #fff;
}
/* transform section end */


/* filter section start  */
.filter-section .image-container {
  background-color: var(--bg-primary);
  padding-block: 20px;
}
.filter-section .image-container img {
  width: 90%;
  height: 90%;
}
/* filter section end  */